* {
    padding: none;
    margin: none;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    /* font-size: 0; */
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw; */
}

.btn {
    padding: 0.6rem;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.btn#reset {
    background-color: red;
}
.btn#save {
    background-color: blue;
}

table {
    border-collapse: collapse;
    /* table-layout: auto; */
    height: 80vh;
    width: 80vw;
    /* width: 30vw; */
    /* padding: 2rem; */
    margin: auto;

    /* margin: auto; */
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

th {
    padding: 0.5rem 0.2rem;
    /* height: rem; */
    background-color: #333;
    color: white;
}

td,
td input {
    height: 2rem;
    font-size: 0.8rem;

    /* width: 10%; */
}

td.lineName input,
td.item input,
td.location input {
    text-align: center;
}

td.lineName input {
    width: 15vw;
}

td.lineName .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

td.lineName .container label {
    background-color: #f1f1f1;
    padding: 0.53rem;
}

td.lineName .container input {
    font-weight: bold;
}

td.item input {
    width: 45vw;
}

td.location input {
    width: 24vw;
}

/* .lineName {
    width: 15%;
} */

.table-input {
    border: none;
}

#actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
}
